<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container row">

    <div id="historialContenedor" class="col-4 col-sm-3">
      <h3>Gifs-app</h3>
      <hr>
      <div id="historial">
        <div>element</div>
      </div>
    </div>

    <div id="buscadorContenedor" class="col-7">
      <h4>Buscar</h4>
      <input type="text" placeholder="Buscar gifs..." id="buscadorInput">
    </div>

  </div>


</body>
</html>